h1{
    font-family: 'Comic Sans MS';
    color: #3498db;
    text-align: center;
}
p {
    font-family: 'Comic Sans MS';
    color: #3498db;
    text-align: center;
}
a {
    font-family: 'Comic Sans MS';
    color: #3498db;
    text-align: center;
}