h1{
    font-family: 'Comic Sans MS';
    color: #b5e853;
    text-align: center;
}
p {
    font-family: 'Comic Sans MS';
    color: #b5e853;
    text-align: center;
}
a {
    font-family: 'Comic Sans MS';
    color: #b5e853;
    text-align: center;
}